@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&family=Permanent+Marker&display=swap');

body {
  height: 98vh;
  background: linear-gradient(135deg, #d7d7d7, #b87373, #500606);
  display: flex;
  justify-content: center;
  align-items: center;
      font-family: "Oleo Script", serif;
}
.allQuestion {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 40px;
  width: 700px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-direction: row;
  position: relative;
}
.allQuestion h1{
    z-index: 100;
    width: 700px;
}
.column {
  display: flex;
  flex-direction: column;
}
.column button {
  background-color: #222;
  color: white;
  border: none;
  padding: 20px 30px;
  font-size: 18px;
  border-radius: 10px;
  margin: 15px 0;
  cursor: pointer;
  transition: all 0.3s;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #444;
  transform: scale(1.1);
}

.allQuestion img {
  position: absolute;
  top: 180px;
  right: 130px;
  width: 200px;
  height: auto;
  border-radius: 10px;
}
.row {
  display: flex;
  align-items: end;
  margin-left: -350px;
    margin-bottom: 30px;
  gap: 10px;
}
.row button {
  background-color: #222;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  width: 150px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}
button{
      font-family: "Lilita One", serif;
}
.insiderow{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.rowbuttons{
    gap: 10px;
    width: 300px;
    display: flex;
    flex-direction: row;
}